@font-face {
  font-family: "swansea";
  src: url("../../fonts/Swansea.woff") format("woff");
}

@font-face {
  font-family: "swansea-bold";
  src: url("../../fonts/Swansea\ Bold.woff") format("woff");
}
