.Services-view-wrapper {
  width: 100%;
  padding-right: 113px;
  padding-left: 113px;
}

@media only screen and (max-width: 1300px) {
  .Services-view-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
