.Deep-light {
  display: block;
  max-width: 501px;
  height: 90px;
  margin-left: 210px;
  font-family: swansea;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $secondary;
}

@media only screen and (max-width: 750px){
  .Deep-light{
    font-size: 15px;
  }
}
