.Locations-container {
  margin-top: 120px;
  margin-bottom: 287px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  a{
    text-decoration: none;
  }
  .Location {
    width: 360px;
    height: 250px;
    background: $highlightLight;
    margin-left: 30px;
    h1 {
      font-family: swansea-bold;
      font-size: 24px;
      font-weight: bold;
      color: $mainDark;
      padding-top: 67px;
      padding-left: 51px;
    }
    p {
      font-size: 18px;
      font-family: swansea;
      line-height: 1.67;
      color: $secondary;
      padding-left: 51px;
      padding-right: 148px;
    }
  }
  .Location-zagreb {
    width: 360px;
    height: 250px;
    margin-left: 0px;
    background: $highlightLight;
    h1 {
      font-family: swansea-bold;
      font-size: 24px;
      font-weight: bold;
      color: $mainDark;
      padding-top: 67px;
      padding-left: 51px;
    }
    p {
      font-size: 18px;
      font-family: swansea;
      line-height: 1.67;
      color: $secondary;
      padding-left: 51px;
      padding-right: 148px;
    }
  }
  .Location-zagreb-black {
    width: 360px;
    height: 250px;
    margin-left: 0px;
    margin-right: 25px;
    background: $mainDark;
    color: $mainLight;
    h1 {
      font-family: swansea-bold;
      font-size: 24px;
      font-weight: bold;
      color: $mainLight;
      padding-top: 67px;
      padding-left: 51px;
    }
    p {
      font-size: 18px;
      font-family: swansea;
      line-height: 1.67;
      color: $highlightLight;
      padding-left: 51px;
      padding-right: 148px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .Locations-container{
    flex-direction: column;
    align-items: center;
    .Location{
      margin: 0px;
    }
    .Location-zagreb-black{
      margin: 0px;
    }
    .Location-zagreb{
      margin: 0px;
    }
  }
}