.Single-service-bottom-banner {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  .Development {
    position: relative;
    height: 100%;
    width: 50%;
    min-height: 400px;
    min-width: 683px;
    background: url("../../assets/1@2x.png") no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: swansea-bold;
      font-size: 18px;
      color: $mainLight;
    }
  }
  .Development::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transition: all 0.5s ease-in-out;
  }
  .Development:hover::after {
    background-color: rgba(35, 150, 180, 0.5);
  }
  .Marketing {
    position: relative;
    height: 100%;
    width: 50%;
    min-height: 400px;
    min-width: 683px;
    background: url("../../assets/2@3x\(1\).png") no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-family: swansea-bold;
      font-size: 18px;
      color: $mainLight;
    }
  }
  .Marketing:after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  .Marketing:hover::after {
    background-color: rgba(35, 150, 180, 0.5);
  }
  .Arrow-icon-white{
    min-width: 15px;
    min-height: 13px;
    background: url("../../assets/path-white.svg") center no-repeat;
    margin-left: 5px;
  }
  .Arrow-icon-white::after{
    content: "";
  }
}
