.Work {
  width: 100%;
  min-height: 1327px;
  position: relative;
  margin-top: 302px;
  margin-bottom: 300px;
  padding-right: 217px;
  padding-left: 217px;
  h1 {
    font-family: swansea-bold;
    font-size: 130px;
    line-height: 0.45;
    color: $mainDark;
    position: absolute;
    top: 0;
    right: 553px;
  }
  .Work-img-1 {
    width: 361px;
    height: 420px;
    position: absolute;
    top: 80px;
    bottom: 0;
  }
  .Work-img-1::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    font-family: swansea-bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainLight;
    transition: all 0.5s ease-in-out;
  }
  .Work-img-1:hover::after {
    background-color: rgba(35, 150, 180, 0.5);
    content: "Frontend Development";
  }
  .Work-img-2 {
    width: 488px;
    height: 320px;
    position: absolute;
    right: 217px;
    top: 220px;
    bottom: 0;
  }
  .Work-img-2::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    font-family: swansea-bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainLight;
    transition: all 0.5s ease-in-out;
  }
  .Work-img-2:hover::after {
    background-color: rgba(35, 150, 180, 0.5);
    content: "Backend Development";
  }
  .Work-img-3 {
    width: 488px;
    height: 320px;
    position: absolute;
    top: 650px;
    bottom: 0;
  }
  .Work-img-3::after {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 100%;
    height: 100%;
    content: "";
    font-family: swansea-bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainLight;
    transition: all 0.5s ease-in-out;
  }
  .Work-img-3:hover::after {
    background-color: rgba(35, 150, 180, 0.5);
    content: "Mobile App";
  }
  .Work-img-4 {
    width: 361px;
    height: 420px;
    position: absolute;
    right: 217px;
    top: 770px;
    bottom: 0;
  }
  .Work-img-4::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    font-family: swansea-bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $mainLight;
    transition: all 0.5s ease-in-out;
  }
  .Work-img-4:hover::after {
    background-color: rgba(35, 150, 180, 0.5);
    content: "Design";
  }
  .See-all-projects {
    cursor: pointer;
    font-size: 16px;
    max-height: 30px;
    font-family: swansea-bold;
    position: absolute;
    color: $mainDark;
    top: 1100px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    .Arrow-icon {
      min-width: 15px;
      min-height: 13px;
      background: url("../../assets/path.svg") center no-repeat;
      margin-left: 5px;
    }
    .Arrow-icon::after {
      content: "";
    }
  }
  .See-all-projects:hover {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 1320px) {
  .Work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 50px;
    }
    .Work-img-1 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 50px;
    }
    .Work-img-2 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 50px;
    }
    .Work-img-3 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 50px;
    }
    .Work-img-4 {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 50px;
    }
    .See-all-projects {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
    }
  }
}
