//Colors
$mainLight: #ffffff;
$mainDark: #1d1d1d;
$secondaryDark: #232323;
$secondary: #525252;
$secondaryLight: #bcbcbc;
$secondaryLighter: #d6d6d6;
$highlightLight: #f5f5f5;
$highlightDark: #8a8a8a;
$highlightMain: #2396b4;
// 1. razdvojiti App.scss u komponente (napraviti main.scss u kojem ukljucujes sve komponente)
// 2. prouciti 7-1 arhitekturu (SASS dokumentacija)

@font-face {
  font-family: "swansea";
  src: url("fonts/Swansea.woff") format("woff");
}

@font-face {
  font-family: "swansea-bold";
  src: url("fonts/Swansea\ Bold.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    .View-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .App {
      font-family: swansea;
      overflow-x: hidden;
      .Navbar {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        height: 96px;
        padding-top: 28px;
        padding-left: 113px;
        //display: flex;
        //flex-direction: row;
        background: white;
        a {
          z-index: 20;
          position: absolute;
          .Logo {
            width: 113px;
            height: 28px;
            top: 0;
            left: 0;
            .LogoPic {
              width: 38px;
              height: 30px;
              padding-right: 4px;
            }
            .LogoTitle {
              width: 58px;
              height: 26px;
            }
          }
        }
        .MenuButton {
          z-index: 20;
          width: 58px;
          height: 36px;
          position: relative;
          top: 0;
          right: 0;
          margin-left: auto;
          margin-top: 28px;
          margin-right: 113px;
          display: block;
          cursor: pointer;
          .MenuTop {
            width: 34px;
            height: 2px;
            margin-bottom: 6px;
            margin-left: auto;
            transition: all 0.5s ease-in-out;
            background: $mainDark;
          }
          .MenuBottom {
            width: 23px;
            height: 2px;
            margin-left: auto;
            transition: all 0.5s ease-in-out;
            background: $mainDark;
          }
          &:hover {
            .MenuTop {
              width: 23px;
            }
            .MenuBottom {
              width: 34px;
            }
          }
        }
        .Single-service-banner {
          width: 100%;
          height: 450px;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          visibility: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .Header-title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .Header1 {
          /**
          width: 304px;
          height: 84px;*/
          //display: inline;
          //white-space: nowrap;
          margin-left: 210px;
          font-family: swansea-bold;
          font-size: 70px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.2;
          letter-spacing: normal;
          color: #1d1d1d;
          display: inline-block;
          flex-shrink: 0;
          white-space: normal;
          width: 720px;
          height: 168px;
        }
        .Header2 {
          -webkit-text-stroke: 0.6px #e5e5e5;
          font-family: Swansea;
          font-size: 130px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1;
          letter-spacing: normal;
          color: rgba(18, 18, 18, 0);
          display: inline-block;
          flex-shrink: 0;
          margin-left: 200px;
          margin-bottom: 60px;
        }
      }
      .Deep-light {
        display: block;
        width: 501px;
        height: 90px;
        margin-left: 210px;
        font-family: swansea;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $secondary;
      }
      .Form-container {
        width: 100%;
        height: 640px;
        display: flex;
        margin-top: 110px;
        padding-left: 113px;
        padding-right: 113px;
        .Contact-form {
          width: 100%;
          height: 640px;
          padding-left: 60px;
          padding-right: 120px;
          padding-top: 77px;
          display: flex;
          flex-direction: column;
          background: $highlightLight;
          .field {
            width: 100%;
            display: flex;
            margin-bottom: 5px;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .input {
              position: relative;
              margin-left: 30px;
              width: 100%;
              input {
                width: 100%;
                font-family: swansea;
                font-size: 1rem;
                background: $highlightLight;
                outline: none;
                border: none;
                padding: 28px 16px 24px 16px;
              }
              input:focus + label {
                transform: translateY(-2rem);
              }
              input:focus ~ label,
              input:not(:placeholder-shown) ~ label {
                transform: translateY(-2rem);
              }
              label {
                font-family: swansea;
                position: absolute;
                top: 50%;
                left: 12px;
                transform: translateY(-12px);
                transition: all 0.1s ease-in-out;
              }
              .divider {
                width: inherit;
                height: 1px;
                background: $secondaryLighter;
              }
              .error {
                visibility: hidden;
                color: red;
              }
              .label-textarea {
                font-family: swansea;
                //visibility: hidden;
                position: absolute;
                top: 25%;
                left: 15px;
                transform: translateY(-12px);
                transition: all 0.1s ease-in-out;
              }
              textarea {
                resize: none;
                padding: 16px;
                border: none;
                outline: none;
                background: $highlightLight;
                width: 100%;
                height: 115px;
              }
              textarea:focus ~ label,
              textarea:not(:placeholder-shown) ~ label {
                transform: translateY(-2rem);
              }
            }
          }
          .Submit-button {
            cursor: pointer;
            font-family: swansea-bold;
            border: none;
            background: $mainDark;
            color: $mainLight;
            margin-top: 60px;
            width: 220px;
            height: 60px;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
          }
          .success {
            color: $highlightMain;
            margin-top: 10px;
            margin-left: 10px;
            visibility: hidden;
          }
        }
      }
      .Locations-container {
        margin-top: 120px;
        margin-bottom: 287px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .Location {
          width: 360px;
          height: 250px;
          background: $highlightLight;
          h1 {
            font-family: swansea-bold;
            font-size: 24px;
            font-weight: bold;
            color: $mainDark;
            padding-top: 67px;
            padding-left: 51px;
          }
          p {
            font-size: 18px;
            font-family: swansea;
            line-height: 1.67;
            color: $secondary;
            padding-left: 51px;
            padding-right: 148px;
          }
        }
        .Location-zagreb {
          width: 360px;
          height: 250px;
          margin-left: 30px;
          background: $highlightLight;
          h1 {
            font-family: swansea-bold;
            font-size: 24px;
            font-weight: bold;
            color: $mainDark;
            padding-top: 67px;
            padding-left: 51px;
          }
          p {
            font-size: 18px;
            font-family: swansea;
            line-height: 1.67;
            color: $secondary;
            padding-left: 51px;
            padding-right: 148px;
          }
        }
        .Location-zagreb-black {
          width: 360px;
          height: 250px;
          margin-left: 30px;
          background: $mainDark;
          color: $mainLight;
          h1 {
            font-family: swansea-bold;
            font-size: 24px;
            font-weight: bold;
            color: $mainLight;
            padding-top: 67px;
            padding-left: 51px;
          }
          p {
            font-size: 18px;
            font-family: swansea;
            line-height: 1.67;
            color: $highlightLight;
            padding-left: 51px;
            padding-right: 148px;
          }
        }
      }
      .footer {
        z-index: 25;
        width: 100%;
        height: 419px;
        background: $mainDark;
        .field {
          display: flex;
          flex-direction: row;
          .Logo {
            width: 115px;
            height: 30px;
            margin-left: 113px;
            padding-top: 98px;
            display: flex;
            flex-direction: row;
            .LogoPic {
              width: 100%;
              height: 30px;
              padding-right: 4px;
              .st0 {
                fill: $mainLight;
              }
            }
            .LogoTitle {
              width: 100%;
              height: 26px;
              .st0 {
                fill: $mainLight;
              }
            }
          }
          ul {
            margin-top: 92px;
            margin-left: 187px;
            list-style-type: none;
            li {
              color: $mainLight;
              font-family: swansea;
              font-size: 16px;
              margin-bottom: 20px;
              a {
                text-decoration: none;
                color: inherit;
              }
              a:hover {
                text-decoration: underline;
              }
            }
          }
          p {
            margin-top: 80px;
            margin-left: 250px;
            width: 105px;
            height: 108px;
            font-family: swansea;
            font-size: 16px;
            line-height: 1.69;
            color: $mainLight;
          }
          .Footer-mail{
            margin-right: 50px;
          }
          .Footer-address {
            //margin-right: 300px;
          }
          .Trademark {
            margin-left: 113px;
            margin-top: 90px;
            font-family: swansea;
            font-size: 16px;
            line-height: 1.69;
            color: $mainLight;
          }
          .Privacy {
            margin-left: auto;
            margin-right: 113px;
            margin-top: 90px;
            font-family: swansea;
            font-size: 16px;
            line-height: 1.69;
            color: $mainLight;
          }
        }
      }
      .Services-view-wrapper {
        width: 100%;
        padding-right: 113px;
        padding-left: 113px;
        .Service1 {
          display: flex;
          flex-direction: row;
          margin-top: 126px;
          margin-bottom: 280px;
          .Service-images {
            position: relative;
            width: 100%;
            .Service-img-back {
              width: 263px;
              height: 292px;
              position: absolute;
              top: 0;
              left: 32%;
              z-index: 1;
            }
            .Service-img-front {
              width: 458px;
              height: 550px;
              position: absolute;
              z-index: 2;
              top: 20%;
              left: 0;
            }
          }
          .Service-content {
            margin-top: 69px;
            .Service-name {
              font-family: swansea-bold;
              font-size: 46px;
              line-height: 1.26;
              color: #1d1d1d;
            }
            .Service-description {
              margin-top: 39px;
              font-family: swansea;
              font-size: 20px;
              line-height: 1.5;
              color: #525252;
            }
            .Service-domains {
              margin-top: 37px;
              li {
                text-transform: uppercase;
                padding-bottom: 22px;
                font-family: swansea-bold;
                font-size: 13px;
                letter-spacing: 2px;
                color: #1d1d1d;
              }
            }
            .View-service-button {
              width: 220px;
              height: 60px;
              cursor: pointer;
              margin-top: 57px;
              border: none;
              outline: none;
              background-color: #1d1d1d;
              font-family: swansea-bold;
              font-size: 18px;
              color: #ffffff;
            }
          }
        }
        .Service2 {
          display: flex;
          flex-direction: row;
          margin-top: 126px;
          margin-bottom: 280px;
          .Service-images {
            position: relative;
            width: 100%;
            .Service-img-back {
              width: 263px;
              height: 292px;
              position: absolute;
              top: 0;
              right: 34.5%;
              z-index: 1;
            }
            .Service-img-front {
              width: 458px;
              height: 550px;
              position: absolute;
              z-index: 2;
              top: 20%;
              right: 2.5%;
            }
          }
          .Service-content {
            margin-top: 69px;
            .Service-name {
              font-family: swansea-bold;
              font-size: 46px;
              line-height: 1.26;
              color: #1d1d1d;
            }
            .Service-description {
              margin-top: 39px;
              font-family: swansea;
              font-size: 20px;
              line-height: 1.5;
              color: #525252;
            }
            .Service-domains {
              margin-top: 37px;
              li {
                text-transform: uppercase;
                padding-bottom: 22px;
                font-family: swansea-bold;
                font-size: 13px;
                letter-spacing: 2px;
                color: #1d1d1d;
              }
            }
            .View-service-button {
              width: 220px;
              height: 60px;
              margin-top: 57px;
              cursor: pointer;
              border: none;
              outline: none;
              background-color: #1d1d1d;
              font-family: swansea-bold;
              font-size: 18px;
              color: #ffffff;
            }
          }
        }
      }
      .Banner-procces {
        width: 100%;
        height: 568px;
        background: $mainDark;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-right: 150px;
        padding-bottom: 50px;
        .Procces-wrapper {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .Procces {
            position: relative;
            width: 100%;
            .Procces-image {
              width: 145px;
              height: 75px;
              position: absolute;
              left: 50%;
              top: -100%;
              z-index: 1;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
            .Procces-name {
              width: 100%;
              color: $mainLight;
              font-size: 24px;
              position: relative;
              left: 50%;
              top: 50%;
              z-index: 2;
            }
            .Procces-description {
              color: $mainLight;
              font-family: swansea;
              position: absolute;
              left: 50%;
              bottom: 0px;
              top: 79px;
              line-height: 1.5;
            }
          }
        }
      }
      .Banner-get-in-touch {
        width: 100%;
        height: 492px;
        background: url("./assets/bg@2x.png");
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .Get-in-touch-title {
          font-family: swansea-bold;
          font-size: 46px;
          line-height: 1.26;
          text-align: center;
          color: $mainLight;
        }
        .Get-in-touch-description {
          font-family: swansea;
          font-size: 20px;
          line-height: 1.5;
          text-align: center;
          color: $mainLight;
          margin-bottom: 41px;
          margin-top: 41px;
        }
        .Get-in-touch-description::before {
          content: "Do you have a creative challenge for us? Get in touch \A ""with a member of the team.";
          display: block;
          white-space: pre;
        }
        .Get-in-touch-button {
          width: 220px;
          height: 60px;
          background: $mainLight;
          color: $mainDark;
          border: none;
          outline: none;
          font-family: swansea-bold;
          font-size: 18px;
          background: linear-gradient(to right, $mainLight 50%, $mainDark 50%);
          background-size: 200%;
          transition: 0.5s ease-out;
        }
        .Get-in-touch-button:hover {
          background-position: right;
          color: $mainLight;
        }
      }
      .View-wrapper-single-service {
        margin-top: 450px;
      }
      .Single-service-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 117px;
        padding-left: 217px;
        padding-right: 217px;
        .Single-service-header {
          h4 {
            text-transform: uppercase;
            font-family: swansea-bold;
            font-size: 13px;
            letter-spacing: 2px;
            color: $highlightMain;
            margin-bottom: 29px;
          }
          h3 {
            color: $mainDark;
            font-family: swansea-bold;
            font-size: 26px;
            line-height: 1.54;
            margin-right: 30px;
          }
        }
        .Single-service-description {
          margin-left: 120px;
          margin-right: 70px;
          margin-top: 45px;
          p {
            margin-bottom: 30px;
            font-family: swansea;
            font-size: 20px;
            line-height: 1.5;
            color: $secondary;
          }
          ul {
            margin-top: 47px;
            list-style-type: cjk-ideographic;
            li {
              text-transform: uppercase;
              font-family: swansea-bold;
              font-size: 13px;
              letter-spacing: 2px;
              color: $mainDark;
              margin-bottom: 22px;
            }
          }
        }
      }
      .Work {
        width: 100%;
        min-height: 1327px;
        position: relative;
        margin-top: 302px;
        margin-bottom: 300px;
        padding-right: 217px;
        padding-left: 217px;
        h1 {
          font-family: swansea-bold;
          font-size: 130px;
          line-height: 0.45;
          color: $mainDark;
          position: absolute;
          top: 0;
          right: 553px;
        }
        .Work-img-1 {
          width: 361px;
          height: 420px;
          position: absolute;
          top: 80px;
          bottom: 0;
        }
        .Work-img-1::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          font-family: swansea-bold;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $mainLight;
          transition: all 0.5s ease-in-out;
        }
        .Work-img-1:hover::after {
          background-color: rgba(35, 150, 180, 0.5);
          content: "Frontend Development";
        }
        .Work-img-2 {
          width: 488px;
          height: 320px;
          position: absolute;
          right: 217px;
          top: 220px;
          bottom: 0;
        }
        .Work-img-2::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          font-family: swansea-bold;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $mainLight;
          transition: all 0.5s ease-in-out;
        }
        .Work-img-2:hover::after {
          background-color: rgba(35, 150, 180, 0.5);
          content: "Backend Development";
        }
        .Work-img-3 {
          width: 488px;
          height: 320px;
          position: absolute;
          top: 650px;
          bottom: 0;
        }
        .Work-img-3::after {
          position: absolute;
          top: 9px;
          left: 9px;
          width: 100%;
          height: 100%;
          content: "";
          font-family: swansea-bold;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $mainLight;
          transition: all 0.5s ease-in-out;
        }
        .Work-img-3:hover::after {
          background-color: rgba(35, 150, 180, 0.5);
          content: "Mobile App";
        }
        .Work-img-4 {
          width: 361px;
          height: 420px;
          position: absolute;
          right: 217px;
          top: 770px;
          bottom: 0;
        }
        .Work-img-4::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          font-family: swansea-bold;
          font-size: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $mainLight;
          transition: all 0.5s ease-in-out;
        }
        .Work-img-4:hover::after {
          background-color: rgba(35, 150, 180, 0.5);
          content: "Design";
        }
        .See-all-projects{
          cursor: pointer;
          font-size: 16px;
          max-height: 30px;
          font-family: swansea-bold;
          position: absolute;
          color: $mainDark;
          top: 1100px;
          bottom: 0;
        }
        .See-all-projects:hover{
          text-decoration: underline;
        }
      }
      .Single-service-bottom-banner {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        .Development {
          position: relative;
          height: 100%;
          width: 50%;
          min-height: 400px;
          min-width: 683px;
          background: url("./assets/1@2x.png") no-repeat center;
          display: flex;
          align-items: center;
          justify-content: center;
          h2 {
            font-family: swansea-bold;
            font-size: 18px;
            color: $mainLight;
          }
        }
        .Development::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: "";
          transition: all 0.5s ease-in-out;
        }
        .Development:hover::after {
          background-color: rgba(35, 150, 180, 0.5);
        }
        .Marketing {
          position: relative;
          height: 100%;
          width: 50%;
          min-height: 400px;
          min-width: 683px;
          background: url("./assets/2@3x\(1\).png") no-repeat;
          background-size: 100% 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          h2 {
            font-family: swansea-bold;
            font-size: 18px;
            color: $mainLight;
          }
        }
        .Marketing:after {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          width: 100%;
          height: 100%;
          transition: all 0.5s ease-in-out;
        }
        .Marketing:hover::after {
          background-color: rgba(35, 150, 180, 0.5);
        }
      }
    }
  }
}
